In [31]:
import pandas as pd
from config import password
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [40]:
from sqlalchemy import create_engine, inspect
engine=create_engine(f'postgresql://postgres:{password}@localhost:5432/sql-challenge')
connection = engine.connect()

In [41]:
# Declare a Base
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [45]:
inspector = inspect(engine)
inspector.get_table_names()
# Base.classes.keys()

['dept_manager', 'titles', 'employees', 'salaries', 'departments', 'dept_emp']

In [43]:
departments = Base.classes.departments
employees = Base.classes.employees
titles = Base.classes.titles

In [46]:
# Create a histogram to visualize the most common salary ranges for employees
columns = inspector.get_columns('employees')
for column in columns:
    print(column["name"], column["type"])

emp_no INTEGER
emp_title_id VARCHAR
birth_date DATE
first_name VARCHAR
last_name VARCHAR
sex VARCHAR
hire_date DATE